
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.mdp-container {
    width: 390px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
}

.cc-head {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.cc-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-day-container {
    width: calc(100% / 7);
    height: 30px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cch-name-container {
    width: calc(100% / 7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cch-name {
    width: 30px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #7F8FA4;
    margin: 0 auto;
}

.cdc-day > span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #8d8d8d;
    display: inline-flex;

}

.c-day-container.current-month .cdc-day span {
    color: black;
}

.cdc-day {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    z-index: 2;
}

.c-days-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.mdpc-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mdpch-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdpchc-month {
    margin-right: 10px;
}

.c-day-container.current-date.current-month > .cdc-day {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #36CCBE, #0F79A8) border-box;
    border: 1px solid transparent;
    border-radius: 30px;
}

.range-head > input.active {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #36CCBE, #0F79A8) border-box;
    border: 1px solid transparent;
}

.c-day-container.selected > .cdc-day {
    background-color: #1CAEA9;
    border-radius: 30px;
}

.c-day-container.selected > .cdc-day > span {
    color: white;
}

#popup-yearmonth {
    width: 175px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: absolute;
    left: calc(-157px / 4);
}

.mdpchc-view {
    position: relative;
}

.popup-yearmonth-head {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1CAEA9;
    border-radius: 6px 6px 0 0;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
    height: 32px;
}

.popup-yearmonth-head > p {
    width: 50%;
    text-align: center;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

li.picker-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.16em;
    color: #9e9e9e;
}

li.picker-item.picker-picked {
    color: #354052;
}

.picker-cell:before, .picker-cell:after {
    background: none;
}

.popup-bg {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    top: 0;
    left: 0;
}

#popup-yearmonth > .app-popup-content {
    z-index: 12;
    position: absolute;
}

.inrange {
    background-color: aliceblue;
}

.c-day-container.selected.inrange {
    background-color: white;
    position: relative;
    z-index: 2;
}


.c-day-container.start.selected.inrange:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 30px;
    background-color: aliceblue;
    z-index: 1;
    right: 0;
    top: 0;
}

.c-day-container.end.selected.inrange:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 30px;
    background-color: aliceblue;
    z-index: 1;
    left: 0;
    top: 0;
}

.mdpc-body-time > div {
    display: flex;
}

div#popup-time {
    width: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0 0 0, 0.1);
    border-radius: 6px;
    position: absolute;
    left: calc(-100px / 4);
    bottom: 23px;
    /* z-index: 2; */
}

.mdpc-body-time > div > div {
    position: relative;
}

.app-popup-content {
    z-index: 99;
    position: relative;
}

.popup-time-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1CAEA9;
    border-radius: 6px 6px 0 0;
    height: 30px;
    color: white;
    font-size: 14px;
}

.popup-time-head > p {
    margin: 0;
    text-align: center;
    display: block;
    width: 50%;
}
